[Desktop Entry]
Version=1.0
Name=AniMatrix Studio
GenericName=AniMe Matrix Control Center
Comment=Versatile ROG AniMe Matrix GUI interface for clock, scroller, stats & image display
Exec=sh -c "if [ -f \"\$HOME/Projects/animatrix-gui/run.sh\" ]; then \"\$HOME/Projects/animatrix-gui/run.sh\"; else notify-send \"AniMatrix Studio\" \"AniMatrix Studio is only available on ASUS ROG AniMe Matrix hardware.\"; fi"
Icon=AniMatrix
Terminal=false
Type=Application
Categories=Settings;HardwareSettings;
StartupNotify=true
StartupWMClass=AniMatrix Studio

